@import 'tailwindcss';
#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(
    to bottom,
    rgba(222, 230, 238, 0.5),
    rgba(5, 133, 252, 0.5)
  );
}
